name: Codecov Workflow

on: [ push, pull_request ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.12']
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5.4.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Print Python version
        run: python --version
      - name: Install poetry
        run: pip install poetry
      - name: Install all dependencies along with test dependencies with poetry
        run: poetry install --with tests
      - name: Run tests and collect coverage
        run: poetry run pytest --cov-report=xml --cov=. tests
      - name: Upload coverage reports to Codecov
        if: matrix.python-version == '3.12' && matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v5.3.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: rmj3197/QuadratiK